.navbar {
    background-color: #343a40;
  }
  
  .navbar-brand {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: #fff;
  }
  
  .navbar-brand img {
    width: 90px;
    height: 30px;
    margin-right: 10px;
    margin-left: 10px;
  }

  .navbar-brand span {
    color: #ffffff; /* Replace with your desired color */
  }
  
  .nav-link {
    color: #fff !important;
    margin-right: 10px;
  }
  
  .nav-link:hover {
    color: #f8f9fa !important;
  }
  